@import url('https://fonts.googleapis.com/css2?family=Palanquin+Dark&display=swap');
.interwal
{
    width: max-content;
    height:max-content;
    padding: 10px;
   font-size: 1em;
    background-color: #4FB477;
    border: solid #FFD972 4px;
    border-radius: 10px;
    cursor: pointer;
    margin: 0.5em;
    transition: padding 0.25s, margin 0.25s, font-size 0.25s;
    
    overflow: hidden;
    white-space: nowrap;
    
}
.interwal:hover
{
 
    margin: 0.1em;
    font-size: 1.2em;
  
  
}
#header
{
    text-align: center;
    width:100%;
    height:max-content;
    font-size: 2rem;
}
#container
{
    display:flex;
    
    margin: auto auto;
    background-color: #1f5a85;
    width:85%;
    padding: 30px;
    flex-direction: row;
    justify-content:center;
flex-wrap:wrap;
}   
#out
{
    display: block;
    width: max-content;
   align-self: flex-end;
    margin:auto auto;
    padding: 30px;
    background-color: #EEEEEE;
    margin-top:10px;
    border: solid #FFD972 4px;
    border-radius: 10px;
}
#container hr {
    width: 100%;
  }
#outText
{
    display: block;
    width: max-content;
    margin:auto auto;
}
body
{
    color: #99621E;
    font-family: 'Palanquin Dark', sans-serif;
    background-color: #37505C;
    margin:0px;
    width:100vw;
}
#Setup
{
background-color: #4FB477;
padding: 10px;
border: solid #FFD972 4px;
border-radius: 10px;
}
#Setup label
{
    cursor:help;
}